@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.message {
    height: 6vh;
    width: 100vw;
    background-color: rgba(138, 115, 80, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.displayed_message {
    position: absolute;
}

#delivery_message {
    animation-name: displayed_item;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: none;
    animation-direction: alternate;
}

#discount_message {
    animation-name: displayed_item2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: none;
    animation-direction: alternate;
    animation-fill-mode: none;
}

@keyframes displayed_item
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes displayed_item2
{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

nav {
    background-color: black;
    width: 100vw;
    height: 11vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "nav_1 nav_2";
    padding: 1%;
}

nav .nav_1 {
    grid-area: nav_1;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    position: relative;
} 

nav .nav_2 {
    grid-area: nav_2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25%;
}

nav .nav_3 {
    display: none;
}

nav .nav_3 .nav_items{
    font-size: 1rem;
}

.nav_items {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.nav_items:hover {
    border-bottom: 5px solid rgba(138, 115, 80, 1);
    padding-bottom: 1%;
    opacity: 0.75;
    cursor: pointer;
}

nav .nav_2 button {
    background-color: black;
    border: 0.00005px solid gray;
    color: white;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 2%;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

nav .nav_2 button:hover {
    border: 3px solid rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

nav .nav_2 button img:hover {
    width: 25px;
}

nav .nav_2 img:hover {
    width: 45px;
    cursor: pointer;
}

.video_section {
    width: 100%;
    height: 70vh;
    position: relative;
}

.video_section video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.video_section button {
    background: transparent;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.75%;
    border: 1px solid white;
    position: absolute;
    bottom: 10%;
    left: 4%;
    width: 10%;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.video_section button:hover {
    border: 2px solid white;
    font-size: 1.1rem;
    cursor: pointer;
    width: 11%;
}

.cricket_season {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 2fr;
    grid-template-areas: "heading heading" "rcb_jersey dc_jersey";
}

.cricket_season .puma_rcb_jersey {
    grid-area: rcb_jersey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cricket_season .puma_dc_jersey {
    grid-area: dc_jersey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cricket_season h2 {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    color: rgb(24, 24, 24);
    margin: 1%;
}

.cricket_season img {
    width: 90%;
}

.cricket_season p {
    margin-bottom: 1.5%;
    color: rgb(24, 24, 24);
}

.pseudo_heading {
    color: rgb(24, 24, 24);
    font-size: 1.25em;
    margin: auto 0;
}

.shop_now_button {
    font-size: 1em;
    color: white;
    background-color: rgb(24, 24, 24);
    padding: 2%;
    margin-bottom: auto;
    width: 50%;
    word-spacing: 2%;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.shop_now_button:hover {
    background-color: rgba(24, 24, 24, 0.9);
    cursor: pointer;
}

.shop_now_button:active {
    background-color: rgba(24, 24, 24, 0.8);
}

.exclusive_launch {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    overflow: hidden;
    background-image: url(Media/exclusive_launch.avif);
    background-repeat: no-repeat;
    padding: 8% 8% 8% 0;
    background-position: center;
    background-size: cover;
}

.exclusive_launch_description {
    width: 100%;
    height: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin-left: 3%;
}

.exclusive_launch_description h2 {
    font-size: 2.75em;
    font-weight: 600;
    margin: auto 0;
}

.exclusive_launch_description p {
    font-size: 1.1em;
    margin: auto 0;
    padding: 2% 0;
}

.exclusive_launch_description .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

.exclusive_launch_description .buttons #explore_collection_button {
    margin-left: 3%;
}

.exclusive_launch_description button {
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    color: rgb(24, 24, 24);
    padding: 3%;
    transition-timing-function: ease;
    transition-duration: 0.1s;
}

.exclusive_launch_description button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    cursor: pointer;
}

.explore_sports {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.75fr 1.25fr;
    grid-template-areas: "game game game" "sport1 sport2 sport3";
    min-height: 400px;
}

.see_the_game {
    grid-area: game;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(24,24,24);
    flex-direction: column;
}

.see_the_game_heading {
    font-size: 2em;
    margin: auto 0;
}

#see_the_game_heading2 {
    font-size: 1.75em;
}

.see_the_game_para {
    text-align: center;
    width: 65vw;
    line-height: 1.75em;
    font-size: 1.25em;
    font-weight: 500;
}

.sports {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sports img {
    width: 90%;
}

.sports .pseudo_heading {
    padding: 3%;
}

footer {
    width: 100vw;
    background-color: rgb(24, 24, 24);
    margin-top: 2%;
    padding: 2%;
}

footer .footer_part_1 {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "support faq about social_media" "support faq about explore";
    color: white;
}

footer .footer_part_1 #support {
    grid-area: support; 
}

footer .footer_part_1 #faq {
    grid-area: faq; 
}

footer .footer_part_1 #about {
    grid-area: about;
}

footer .footer_part_1 table {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 1.75em;
    font-size: 1.25em;
}

footer .footer_part_1 td {
    font-weight: 350;
}

footer .footer_part_1 td:hover {
    cursor: pointer;
    font-weight: 600;
}

footer .footer_part_1 th:hover {
    cursor: pointer;
    font-weight: 900;
}

footer .footer_part_1 .social_media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social_media h3 {
    font-size: 1.5em;
    letter-spacing: 2%;
    font-weight: bold;
}

footer .footer_part_1 .social_media .social_media_icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer_part_1 .social_media .social_media_icons img {
    width: 12%;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

footer .footer_part_1 .social_media .social_media_icons img:hover {
    cursor: pointer;
    border: 2px solid white;
}

footer .footer_part_1 .social_media #app_icons {
    display: flex;
    align-items: space-around;
    justify-content: center;
}

footer .footer_part_1 .social_media #app_icons img {
    width: 15%;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

footer .footer_part_1 .social_media #app_icons img:hover {
    cursor: pointer;
    border: 2px solid white;
}

.line {
    width: 90%;
    height: 1px;
    background-color: white;
    margin-left: 4%; 
}

.footer_part_2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "cards flag copyright";
}

.card_icons img {
    width: 9%;
    margin-left: 2%;
}

.card_icons {
    grid-area: cards;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5%;
}

.flags {
    grid-area: flag;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    letter-spacing: 2%;
    font-weight: bold;
}

.flags .country {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2%;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.flags .country:hover {
    cursor: pointer;
    border: 2px solid white;
}

.copyright {
    grid-area: copyright;
    display: flex;
    align-items: center;
    justify-content: end;
}

.copyright p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    letter-spacing: 2%;
    margin-right: 7%;
}

/* @media (max-width: 850px) {
    .exclusive_launch_description h2 {
        font-size: 2.10em;
    }
    .exclusive_launch_description p {
        font-size: 0.75em;
    }
    .exclusive_launch_description button {
        font-size: 0.70em;
    }
    .see_the_game_heading {
        font-size: 1.55em;
    }
    #see_the_game_heading2 {
        font-size: 1.35em;
    }
    .see_the_game_para {
        text-align: center;
        width: 65vw;
        line-height: 1.45em;
        font-size: 1.05em;
        font-weight: 500;
    }
    footer .footer_part_1 .social_media #app_icons img {
        width: 25%;
    }
    footer .footer_part_1 .social_media .social_media_icons img {
        width: 17%;
    }
    footer .footer_part_1 table {
        font-size: 1.05em;
    }
    .social_media h3 {
        font-size: 1.15em;
    }
    .flags .country {
        width: 40%;
    }
    .country h2 {
        font-size: 1em;
    }
    .copyright p {
        font-size: 0.90em;
    }
}

@media (max-width: 950px) {
    .exclusive_launch_description h2 {
        font-size: 2.10em;
    }
    .exclusive_launch_description p {
        font-size: 0.75em;
    }
    .exclusive_launch_description button {
        font-size: 0.70em;
    }
    .see_the_game_heading {
        font-size: 1.75em;
    }
    #see_the_game_heading2 {
        font-size: 1.55em;
    }
    .see_the_game_para {
        text-align: center;
        width: 65vw;
        line-height: 1.75em;
        font-size: 1.15em;
        font-weight: 500;
    }
    footer .footer_part_1 .social_media #app_icons img {
        width: 25%;
    }
    footer .footer_part_1 .social_media .social_media_icons img {
        width: 17%;
    }
    footer .footer_part_1 table {
        font-size: 1.15em;
    }
    .social_media h3 {
        font-size: 1.25em;
    }
    .flags .country {
        width: 35%;
    }
    .country h2 {
        font-size: 1em;
    }
    .copyright p {
        font-size: 0.95em;
    }
}

@media (max-width: 1050px) {
    .cricket_season {
        grid-template-columns: 1fr;
        grid-template-rows: 0.15fr 1fr 1fr;
        grid-template-areas: "heading" "rcb_jersey" "dc_jersey";
        row-gap: 10px;
    }
    .cricket_season .puma_rcb_jersey {
        grid-area: rcb_jersey;
    }
    .cricket_season .puma_dc_jersey {
        grid-area: dc_jersey;
    }
    .exclusive_launch_description h2 {
        font-size: 2.40em;
    }
    .exclusive_launch_description p {
        font-size: 1em;
    }
    .exclusive_launch_description button {
        font-size: 0.80em;
    }
    .explore_sports {
        grid-template-rows: 0.65fr 0.80fr 1.5fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "game game" "sport1 sport2" "sport3 sport3";
    }
    .see_the_game {
        grid-area: game;
    }
    #sports1 {
        grid-area: sport1;
    }
    #sports2 {
        grid-area: sport2;
    }
    #sports3 {
        grid-area: sport3;
    }
}

@media (max-width: 1100px) {
    .exclusive_launch_description h2 {
        font-size: 2.40em;
    }
    .exclusive_launch_description p {
        font-size: 1em;
    }
    .exclusive_launch_description button {
        font-size: 0.80em;
    }
}

@media (max-width: 1200px) {
    
    .exclusive_launch_description h2 {
        font-size: 2.60em;
    }
    .exclusive_launch_description p {
        font-size: 1.15em;
    }
    .exclusive_launch_description button {
        font-size: 0.85em;
    }
}

@media (max-width: 1300px) {
    .exclusive_launch_description h2 {
        font-size: 2.60em;
    }
    .exclusive_launch_description p {
        font-size: 1.15em;
    }
    .exclusive_launch_description button {
        font-size: 0.85em;
    }
}

@media (max-width: 1400px) {
    .exclusive_launch_description h2 {
        font-size: 2.60em;
    }
    .exclusive_launch_description p {
        font-size: 1.15em;
    }
    .exclusive_launch_description button {
        font-size: 0.85em;
    }
}

@media (max-width: 1500px) {
    .exclusive_launch_description h2 {
        font-size: 2.60em;
    }
    .exclusive_launch_description p {
        font-size: 1.15em;
    }
    .exclusive_launch_description button {
        font-size: 0.85em;
    }
}

@media (max-width: 1650px) {
    
}

@media (max-width: 1750px) {
    
}

@media (max-width: 1800px) {
    
}

@media (max-width: 2050px) {

}

@media (max-width: 2300px) {
    
} */

/* nav .nav_1 {
    display: none;
}

nav .nav_3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 500%;
    background-color: rgb(24, 24, 24);
} */