@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.message {
    height: 6vh;
    width: 100vw;
    background-color: rgba(138, 115, 80, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.displayed_message {
    position: absolute;
}

#delivery_message {
    animation-name: displayed_item;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: none;
    animation-direction: alternate;
}

#discount_message {
    animation-name: displayed_item2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: none;
    animation-direction: alternate;
    animation-fill-mode: none;
}

@keyframes displayed_item
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes displayed_item2
{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

nav {
    background-color: black;
    width: 100vw;
    height: 11vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: "1nav 2nav";
    padding: 1%;
}

nav .nav_1 {
    grid-area: 1nav;
    display: flex;
    justify-content: space-around;
    align-items: center; 
} 

nav .nav_2 {
    grid-area: 2nav;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25%;
}
.nav_items {
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

nav .nav_2 button {
    background-color: black;
    border: 0.00005px solid gray;
    color: white;
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70%;
    padding: 2%;
}

.video_section {
    width: 100%;
    height: 70vh;
    position: relative;
}

.video_section video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.video_section button {
    background: transparent;
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.75%;
    border: 1px solid white;
    position: absolute;
    bottom: 10%;
    left: 4%;
    width: 10%;
}

.explore_sports {
    background-color: white;
    width: 100%;
    height: 125vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.75fr 1.25fr;
    grid-template-areas: "game game game" "sport1 sport2 sport3" ;
}

.see_the_game {
    grid-area: game;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: rgb(24,24,24);
    flex-direction: column;
}

.see_the_game_heading {
    font-size: 2em;
    margin: auto 0;
}

#see_the_game_heading2 {
    font-size: 1.75em;
}

.see_the_game_para {
    text-align: center;
    width: 65vw;
    line-height: 1.75em;
    font-size: 1em;
    font-weight: 500;
}

#sports1 {
    grid-area: sport1;
}

#sports2 {
    grid-area: sport2;
}

#sports3 {
    grid-area: sport3;
}
.sports {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sports img {
    width: 90%;
}

.sports h3 {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: rgb(24, 24, 24);
    font-size: 1.25em;
    margin: auto 0;
}

.sports button {
    font-size: 1em;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(24, 24, 24);
    padding: 2%;
    margin-bottom: auto;
    width: 50%;
    word-spacing: 2%;
    font-weight: 600;
}